<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Tamago Tips Stats</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Tamago Tips Stats</h1>
        <hr>
        <div class="col-md-12">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th style="text-align: center">Id</th>
                        <th style="text-align: center">Key</th>
                        <th style="text-align: center">Locale</th>
                        <th style="text-align: center">View Count</th>
                        <th style="text-align: center">Likes</th>
                        <th style="text-align: center">Dislikes</th>
                    </tr>
                </thead>
                <tbody>
                {% for stat in stats %}
                    <tr>
                        <td>{{ stat.id }}</td>
                        <td>{{ stat.key }}</td>
                        <td>{{ stat.locale }}</td>
                        <td>{{ stat.viewCount }}</td>
                        <td>{{ stat.likes }}</td>
                        <td>{{ stat.dislikes }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>